/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

  .logo {
    width: 48px;
  }

  .desktopLogo h1 {
    font-size: 20px;
  }

  nav a {
    font-size: 20px;
  }
  .linkedInBox, .emailBox {
    padding: 24px;
  }

  .desktopNav {
    padding-top: 48px;
    /* background-color: red; */
  }


  /* END OF NAVIGATION CODE */


  .mobileGhostColumn {
    display: table-cell;
  }
  


  

  .spaceBelow {
    margin-bottom: 20vh;
  }

  /* Tagline */
  .tagline {
    font-size: 48px;
  }
  .cardDes {
    font-size: 16px;
  }
  .cardTitle {
    font-size: 24px;
  }
  
    /* case study stuff */
    #bookmarks {
      display: none;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    .telePoints {
      display: block;
      position: fixed;
      top: 40%;
      margin-left: -14vh;
    }
    .telePoints ul a li {
      font-size: 12px;
      line-height: 2;
      color: #767676;
    }
    .telePoints p {
      font-size: 14px;
      font-family: "Lora", serif;
      font-weight: 100;
      font-style: italic; 
    }
    .telePoints ul {
      padding: 0;
      margin: 0;
      margin-left: 1.7vh;
      list-style-type: square;
      margin-left: -0.4px;
      list-style: none;
    }
    .telePoints ul a {
      text-decoration: none;
    }
    .telePoints ul a li:hover {
      font-weight: 400;
      color: #0965E3;
    }

    /* begin animation style */
    .fadeIn {
      animation: fadeInUp 0.4s ease-in forwards;
      overflow: none;
    }

    @keyframes fadeInUp{
      0%{transform:translate(0px, 40px); opacity: 0;}
      100%{transform:translate(0px, 0); opacity: 1;}
    }

    .fade {
      animation: fade 0.4s ease-in forwards;
      overflow: none;
    }

    @keyframes fade{
      0%{transform:translate(0px, -20px); opacity: 1;}
      100%{transform:translate(0px, 0); opacity: 1;}
    }
    /* end animation styles */

    /* End of case study stuff */

    /* css code for floating back to top button is written by Muhammad Asif */
    /* https://codeconvey.com/floating-back-to-top-button-html/ */
    #return-to-top {
      position: fixed;
      bottom: 25vh;
      right: 6vh;
      width: 8vh;
      height: 8vh;
      display: block;
      text-decoration: none;
      display: none;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      opacity: 100%;
      z-index: -1;
      border: 1px solid #303030;
    }
    #return-to-top svg {
      display: block;
      width: 8vh;
      height: 8vh;
    }
    .sec h2 {
      font-size: 18px;
    }
    .caption {
      font-size: 16px !important;
    }
    .context div ul li {
      font-size: 16px;
    }
    .context div p {
      font-size: 16px;
    }
    .otherProject h1, .title h1, .allProjects h1  {
      font-size: 80px;
    }




    /* Footer stuff */
    footer {
      height: 500px;
    }
    .footerContent {
      display: flex;
      justify-content: space-between;
    }
    .footerMetaDataContainer {
      display: flex;
      justify-content: space-between;
    }
}