/* omg such big screens */
@media (min-width: 1980px) {
    .desktopLogo h1, nav a {
      font-size: 40px;
    }
    .logo {
      width: 80px;
    }

    .emailBox svg, .linkedInBox svg {
      width: 40px;
      height: 40px;
    }

    .linkedInBox, .emailBox {
      padding: 40px;
    }

    .navTabs {
      padding-right: 20px;
      padding-left: 20px;
    }


    /* END OF NAVIGATION CODE */



    




    .caseContent {
      margin-left: 25vh;
      margin-right: 25vh;
    }
    .desktopSelfDesc {
      font-size: 32px;
    }
    .sec h1 {
      font-size: 32px;
      line-height: 2;
    }
    .myName {
      font-size: 48px;
    }
    #return-to-top {
      right: 4vh;
    }
    .quickFacts {
      font-size: 24px;
    }
    .cardTitle {
      font-size: 48px;
    }
    .cardDes {
      font-size: 32px;
    }
    .tagline {
      font-size: 80px;
    }
    .caseStudyCardtooltip, .gallerytooltip {
      padding: 24px;
    }
    .gallerytooltip {
      width: 380px;
    }
    .caseStudyCardtooltip p, .gallerytooltip p {
      font-size: 32px;
    }
    .sec h2 {
      font-size: 24px;
    }
    .sec p {
      font-size: 24px;
      line-height: 2;
    }
    .telePoints ul a li {
      font-size: 24px;
      line-height: 2;
    }
    .telePoints p {
      font-size: 32px;
    }
    .context div h1, .context div h2 {
      font-size: 32px;
    }  
    .teleTitle {
      font-size: 24px;
    }
    .listRemove li {
      font-size: 24px;
    }
    .otherProject p {
      font-size: 24px;
    }
    
    .otherProject h1, .title h1, .allProjects h1  {
      font-size: 120px;
    } 
    .context div p {
      font-size: 24px;
      line-height: 2;
    }
    #caseTitle h1 {
      font-size: 120px;
    }
    #caseTitle h2 {
      font-size: 48px;
    }
    .container {
      padding: 2px 24px;
    }
    #galleryTitle p {
      font-size: 32px;
    }
    .figJamEmbed {
      width: 800;
      height: 800px;
    }





    
    /* Footer Stuffs */
    footer {
      height: 800px;
    }
    .callToAction {
      font-size: 48px;
      margin-bottom: 48px;
    }
    .footerButtons {
      gap: 16px;
    }
    .footerButtons p {
      font-size: 32px;
      padding: 16px 20px;
    }
    .footerLabels {
      font-size: 24px;
    }
    .labelContent {
      font-size: 32px;
    }
    .contactLinks {
      gap: 60px;
    }
    .footerLabelContainer {
      gap: 60px;
      margin-top: 12px;
    }
    .bragFooter {
      font-size: 32px;
    }
    .bragArea {
      margin-top: 12px;
    }
    .footerMetaData {
      margin-bottom: 32px;
    }
  }