/* omg such big screens */
@media (min-width: 1980px) {
    .desktopSelfDesc {
      font-size: 32px;
    }
    .myName {
      font-size: 48px;
    }
    .sec h1 {
      font-size: 48px;
      line-height: 5vh;
    }
    .desktopLogo h1 {
      font-size: 40px;
    }
    #return-to-top {
      right: 4vh;
    }
    .quickFacts {
      font-size: 24px;
    }
    .cardTitle {
      font-size: 48px;
    }
    .cardDes {
      font-size: 32px;
    }
    footer .footerContent div p {
      font-size: 32px;
    }
    .contactMe, .bragFooter {
      font-size: 32px;
    }
    .tagline {
      font-size: 100px;
      line-height: auto;
    }
    .caseStudyCardtooltip, .gallerytooltip {
      padding: 24px;
    }
    .gallerytooltip {
      width: 380px;
    }
    .caseStudyCardtooltip p, .gallerytooltip p {
      font-size: 32px;
    }
    nav a {
      font-size: 40px;
    }
    .sec h2 {
      font-size: 32px;
    }
    .sec p {
      font-size: 32px;
    }
    .instaCite, .artCite {
      font-size: 24px;
    }
    .telePoints ul a li {
      font-size: 32px;
      line-height: 4vh;
    }
    .telePoints p {
      font-size: 32px;
    }
    .context div h1, .context div h2 {
      font-size: 40px;
    }  
    .teleTitle {
      font-size: 24px;
    }
    .listRemove li {
      font-size: 24px;
    }
    .otherProject h1, .title h1, .allProjects h1  {
      font-size: 120px;
    } 
    .projectFooter .footerLogoContainer {
      margin-top: 5.5vh;
    }
    .context div p {
      font-size: 32px;
      line-height: 4vh;
    }
    #caseTitle h1 {
      font-size: 120px;
    }
    #caseTitle h2 {
      font-size: 48px;
    }
    .container {
      padding: 2px 24px;
    }
    #galleryTitle p {
      font-size: 32px;
    }
    .figJamEmbed {
      width: 800;
      height: 800px;
    }
  }