/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {

  .tagline {
    font-size: 32px;
    line-height: 6vh;
  }  

  .cardDes {
    font-size: 16px;
    line-height: 3vh;
  }

.cardTitle {
  font-size: 16px;
  line-height: 3vh;
}
  
  footer .footerContent div {
      width: 10vh;
}
  
    body {
      margin-left: 5%;
      margin-right: 5%;
    }

    .aboutPagesSpace {
      margin-top: 10vh;
    }
  
    .intro {
      margin: 1vh;
      margin-top: 9.5vh;
      margin-bottom: 9.5vh;
    }
  
    .descList li {
      margin-top: -2vh;
      margin-bottom: -2vh;
    }
  
    /* get rid of mobile nav */
    .navigation, .navBackground {
      display: none;
    }
  
    /* container for large rectangle and the social buttons */
    .desktopNav {
      display: flex;
      height: 8vh;
      padding-top: 5vh;
      width: 100%;
    }
  
    /* the larger rectangle */
    .navTabs {
      height: 8vh;
      border: 1px solid #303030;
      background: white;
      width: 100%;
    }
  
    /* I grouped the social buttons together */
    .socialArea {
      display: flex;
      height: 8vh;
    }
  
    /* logo that is in the large rectangle */
    .desktopLogo {
      margin-top: 0.8vh;
      float: left;
      position: relative;
      height: auto;
    }
  
    /* logo size */
    .logo {
      position: relative;
      width: 5.5vh;
      margin-left: 1.5vh;
    }
  
    /* tabs in the large rectangle */
    nav a {
      float: right;
      text-decoration: none;
      display: inline-block;
      color: #303030;
      font-size: 16px;
      padding-right: 2vh;
    }
    .centeringName {
      display: none;
    }
    
    .centerNav {
      height: 8vh;
      line-height: 8vh;
    }

    /* email social button */
    .emailBox {
      border: 1px solid #303030;
      background: white;
      width: 8vh;
      height: 8vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1vh;
    }
  
    .emailBox svg {
      width: 3.5vh;
      height: 3.5vh;
      display: flex;
    }
  
    /* linkedin social button */
    .linkedInBox {
      border: 1px solid #303030;
      background: white;
      width: 8vh;
      height: 8vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1vh;
    }

    .linkedInBox svg {
      width: 3.5vh;
      height: 3.5vh;
      display: flex;
    }
  
    /* making the two social buttons appear side by side in its social area container */
    /* .linkedInBox, .emailBox {
      display: inline-block;
    } */
    .underlined {
      /* padding-bottom: 2.5vh; */
    }
    .active {
      text-decoration: none;
    }
    .content {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
  
    /* about stuff */
    .aboutContent, .moreAboutContent {
      margin-left: 5vh;
      margin-right: 5vh;
    }

    .content, .cloudPhotoGrid {
      margin-right: 0px;
      margin-left: 0px;
    }
    .galleryRow {
      margin-right: 0px;
      margin-left: 0px;
    }
  
    /* heree */
    #me {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 20px;
      vertical-align: middle;
    }
    #caseTitle,.sec {
      margin-left: 0px;
      margin-right: 0px;
    }
    #caseTitle h1 {
      padding: 0;
      margin: 0;
      padding-top: 48px;
      font-size: 72px;
      text-align: center;
      font-weight: 500;
      font-family: 'Work Sans', sans-serif;
      font-style: normal;
    }
    #caseTitle h2 {
      font-size: 32px;
      text-align: center;
      font-weight: 500;
    }
    .values {
      margin-top: 5vh;
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  
    div ul li {
      line-height: 6vh;
    }

    /* Case study stuff */
    .cover {
      padding-top: 10vh;
      margin-top: 0;
    }
    .context {
      margin-top: 5vh;
      display: flex;
      justify-content: space-between;
    }
    .projectFooter {
      height: 60%;
    }
    .otherProject h1, .title h1, .allProjects h1  {
      font-size: 40px;
    }
    .instaGrid {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    #galleryTitle p {
      max-width: 50%;
    }
    #galleryTitle {
      padding-top: 0;
      margin-right: 0px;
      margin-left: 0px;
    }

    .progressBar {
      position: absolute;
      right: 0;
    }
  }