/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {

    /* get rid of mobile nav */
    .navigation, .navBackground {
      display: none;
    }
  
    /* container for large rectangle and the social buttons */
    .desktopNav {
      display: flex;
      padding-top: 32px;
      width: 100%;
      /* background-color: blue; */
    }
  
    /* the larger rectangle */
    .navTabs {
      display: flex;
      border: 1px solid #303030;
      justify-content: space-between;
      padding: 8px;
      padding-left: 12px;
      padding-right: 12px;
      align-items: center;
      width: 100%;
    }
  
    /* I grouped the social buttons together */
    .socialArea {
      display: flex;
    }
  
    .logo {
      width: 40px;
      padding-top: 4px;
    }
  
    /* tabs in the large rectangle */
    nav a {
      text-decoration: none;
      display: inline-block;
      color: #303030;
      font-size: 16px;
    }

    .centeringName {
      display: none;
    }
    
    .centerNav {
      display: flex;
      gap: 24px;
    }

    /* email social button */
    .emailBox {
      border: 1px solid #303030;
      background: white;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1vh;
    }
  
    .emailBox svg {
      width: 24px;
      height: 24px;
      display: flex;
    }
  
    /* linkedin social button */
    .linkedInBox {
      border: 1px solid #303030;
      background: white;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1vh;
    }

    .linkedInBox svg {
      width: 24px;
      height: 24px;
      display: flex;
    }

    .active {
      text-decoration: none;
    }

    /* END OF NAVIGATION CODE */








    


/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: white;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

.spaceBelow {
  margin-bottom: 12vh;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: linear-gradient(to right, #0965E3, #57B7FD);
  width: 0%;
}

  .tagline {
    font-size: 32px;
  }  

  .card {
    margin: 1vh;
  }

  .cardDes {
    font-size: 16px;
  }

.cardTitle {
  font-size: 16px;
}
  
  footer .footerContent div {
      width: 10vh;
}
  
    body {
      margin-left: 5%;
      margin-right: 5%;
    }

    .aboutPagesSpace {
      margin-top: 10vh;
    }
  
    .intro {
      margin: 1vh;
      margin-top: 12vh;
      margin-bottom: 12vh;
    }
  
    .descList li {
      margin-top: -2vh;
      margin-bottom: -2vh;
    }

    .content {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 12px;
      grid-row-gap: 24px;
    }
  
    /* about stuff */
    .aboutContent, .moreAboutContent {
      margin-left: 5vh;
      margin-right: 5vh;
    }

    .content, .cloudPhotoGrid {
      margin-right: 0px;
      margin-left: 0px;
    }
    .galleryRow {
      margin-right: 0px;
      margin-left: 0px;
    }
  
    /* heree */
    #me {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 20px;
      vertical-align: middle;
    }
    #caseTitle,.sec {
      margin-left: 0px;
      margin-right: 0px;
    }
    #caseTitle h1 {
      padding: 0;
      margin: 0;
      padding-top: 48px;
      font-size: 72px;
      text-align: center;
      font-weight: 500;
      font-style: normal;
    }
    #caseTitle h2 {
      font-size: 32px;
      text-align: center;
      font-weight: 500;
    }
    .values {
      margin-top: 5vh;
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
    }
  
    div ul li {
      line-height: 3;
    }

    /* Case study stuff */
    .cover {
      padding-top: 10vh;
      margin-top: 0;
    }
    .context {
      margin-top: 5vh;
      display: flex;
      justify-content: space-between;
      margin-left: 0px;
      margin-right: 0px;
    }
    .projectFooter {
      height: 60%;
    }
    .otherProject h1, .title h1, .allProjects h1  {
      font-size: 40px;
    }
    .instaGrid {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    #galleryTitle {
      padding-top: 0;
      margin-right: 0px;
      margin-left: 0px;
    }

    #galleryTitle h1, #galleryTitle p {
      max-width: 50%;
    }

    .progressBar {
      position: absolute;
      right: 0;
    }
    .figJamEmbed {
      width: 800;
      height: 500px;
    }
  }