/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

  .column img:hover {
    transform: scale(0.85); 
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .caseStudyCardCode:hover .caseStudyCardtooltip, .galleryCode:hover .gallerytooltip {
    display: block;
  }
  
  .caseStudyCardCode:hover {
    cursor: pointer;
  }

  .caseStudyLocked:hover {
    cursor: not-allowed;
  }

  .galleryCode:hover {
    cursor: zoom-in;
  }
  
  .caseStudyCardtooltip, .gallerytooltip {
    display: none;
    background: #FFFFFF;
    margin-left: 24px;
    padding: 14px;
    position: absolute;
    z-index: 1000;
    width: auto;
    height: fit-content;
  }

  .caseStudyCardtooltip {
    border: 1px solid #0965E3;
  }

  .gallerytooltip {
    border: 1px solid #303030;
  }

  .gallerytooltip {
    width: 180px;
  }

  .figJamEmbed {
    width: 800;
    height: 600px;
  }
  
  .caseStudyCardtooltip p, .gallerytooltip p {
    line-height: 3.5vh;
    font-family: "Lora", serif;
    padding: 0px;
    margin: 0px;
    font-weight: 400;
    display: block;
    font-size: 16px;
  }

  .caseStudyCardtooltip p span, .caseStudyCardtooltip p {
    color: #0965E3;
  }
  
  .tooltipDate {
    color: #767676;
  }

  .container {
    padding: 2px 16px;
  }

  .bragFooter {
    padding-bottom: 0;
  }

    .googleFrame {
      padding: 12px;
    }

    .button:hover icon:before {
      top: -1rem;
    }
    .button:hover icon::after {
      top: 1rem;
    }
    #return-to-top:hover {
      transform: scale(0.85); 
    }
    #myImg:hover {
      transform: scale(0.90); 
    }
    .shrink:hover { 
      transform: scale(0.95); 
    }
    
    .card:hover img {
      transform: scale(1.25); 
    }
    .emailBox:hover svg .clr-i-solid-path-1 {
      fill: #0965E3;
    }
    
    .emailBox:hover svg .clr-i-solid-path-2 {
      fill: #0965E3;
    }
    .linkedInBox:hover svg path {
      fill: #0965E3;
    }
    nav a:hover {
      color: #0965E3;
    }
    #return-to-top:hover svg path {
      fill: #0965E3;
    }
    .bigShrink:hover, #return-to-top:hover { 
      transform: scale(0.85); 
      border-image: conic-gradient(
        from var(--angle),
        #0965E3 0deg 90deg,
        #FAFAFA 90deg 180deg,
        #0965E3 180deg 270deg,
        #FAFAFA 270deg 360deg
      )
      1 stretch;
      background: rgb(255 255 255 / var(--opacity));
    }

    body {
      margin-left: 10%;
      margin-right: 10%;
    }
    .mobileSelfDesc {
      display: none;
    }
    .desktopSelfDesc {
      display: block;
      font-size: 16px;
    }
  
    /* footer stuff */
    hr {
      display: block;
      margin-top: 3vh;
      margin-bottom: 3vh;
      color: #ededed;
      opacity: 0.2;
    }
    .otherProject {
      margin-left: 10%;
      margin-right: 10%;
      border-bottom: none;
    }
    .otherProject a h1:hover img {
      opacity: 100%;
    }
    .nextHover:hover {
      -webkit-text-stroke: 0.5px black;
      color: white;
      transition: all 0.2s linear;
    }
    .underlinedLink, .contactMe a {
      color: #303030;
      text-decoration: none;
      background: 
      linear-gradient(to right, #303030, #303030),
      linear-gradient(to right, #0965E3, #57B7FD);
      background-size: 100% 0.1em, 0 0.1em;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
      transition: background-size 400ms;
    }

    .underlinedLink:hover, .contactMe a:hover {
      color: #0965E3;
      background-size: 0 0.1em, 100% 0.1em;
    }
    .footerContent {
      margin-left: 10%;
      margin-right: 10%;
      text-align: right;
      /* margin-top: 10vh; */
    }
    .footerContent .bigShrink p:hover {
      color: #0965E3;
    }
    .bragFooter {
      text-align: right; 
      margin-top: 2vh;
    }
    .contactMe {
      position: absolute;
      margin: 0;
      margin-left: 1vh;
      text-align: left;
    }
    .footerLogoContainer {
      display: block;
      position: absolute;
      margin-top: 3vh;
      text-align: left;
      margin-left: 10%;
    }
    .projectFooter .footerLogoContainer {
      margin-top: 4vh;
    }
    .projectFooter .footerContent {
      margin-top: 8vh;
    }
    .footerLogo {
      margin-left: 1vh;
      width: 5.5vh;
    }
    .footerLogo:hover path {
      stroke: #0965E3;
    }
  /* end of footer stuff */
  
    label {
      display: none;
    }
    .onHoverZoomIn {
      cursor: zoom-in;
    }
  
    nav a {
      padding-right: 1.5vh;
    }
    .linkedInBox, .emailBox {
      width: 8vh;
    }
    .desktopNav, .navTabs, .socialArea, .linkedInBox, .emailBox {
      height: 8vh;
    }
    .centerNav {
      height: 8vh;
      line-height: 8vh;
    }
    .logo {
      width: 5vh;
    }
    /* case study stuff */
    .caseContent {
      margin-left: 15vh;
      margin-right: 15vh;
    }
    .caseStudyBeginning {
      display: flex;
    }
    .desktopLogo h1 {
      display: inline-block;
      font-size: 16px;
      font-weight: 300;
    }
    .centeringName {
      display: block;
      position: absolute;
      top: 50%;
      left: 200%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }
    .desktopLogo:hover .centeringName h1 {
      color: #0965E3;
    }

    .desktopLogo:hover .logo path {
      stroke: #0965E3;
    }

    .listRemove li {
      font-size: 16px;
    }
  }

  @supports (background: paint(houdini)) {
    @property --opacity {
      syntax: "<number>";
      initial-value: 0.5;
      inherits: false;
    }
  
    @property --angle {
      syntax: "<angle>";
      initial-value: 0deg;
      inherits: false;
    }
  
    @keyframes opacityChange {
      to {
        --opacity: 1;
      }
    }
  
    @keyframes rotate {
      to {
        --angle: 360deg;
      }
    }
  
    .bigShrink, #return-to-top:hover {
      animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
    } }


    .GIFLayoutForApps img {
      width: 30%;
    }