/* width */
/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #FFFFFF;
  border: 1px solid #303030;
  border-top: none;
  border-bottom: none;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  border: 1px solid #303030;
  background-image: repeating-linear-gradient(-45deg, #303030 0, #303030 1px, transparent 0, transparent 50%);
  background-size: 10px 10px;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background-color: #303030;
  background-image: repeating-linear-gradient(-45deg, #FFFFFF 0, #FFFFFF 1px, transparent 0, transparent 50%);
} */

.shrink:active {
  opacity: 70% !important;
}
.:active h1 {
  opacity: 70% !important; 
}
a:active {
  opacity: 70% !important;
}

.comingSoon {
  pointer-events: none;
}
. h1 {
  display: none;
}

.myName {
  font-size: 20px;
}

img {
  pointer-events: none;
}

.mobileLogo img {
  pointer-events: auto;
}

html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Applies to the whole page */
body {
    overflow-x: hidden !important;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    z-index: -99;
    background-size: 100px 100px;
    background-image:
      linear-gradient(to right, rgb(250, 250, 250) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(250, 250, 250) 1px, transparent 1px);
}

.loralora {
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: italic;
}
.loraloraNav {
  font-family: "Lora", serif;
  font-weight: 100;
  font-style: italic;
  color: #767676;
  font-size: 16px;
}
.loraloraNavActive {
  font-weight: 800;
  color: #303030;
}

.wizardStar {
  display: inline-block;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  font-style: normal !important;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.peaceSymbol {
  display: inline-block;
  -webkit-animation: rotation 4s infinite linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(16deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-16deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.magicPen {
  display: inline-block;
  -webkit-animation: write 1s infinite linear;
}

@-webkit-keyframes write {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-8deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(8deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

/* about stuff */

.aboutPagesSpace, .aboutPagesSpaceBetween, .spaceTop {
  margin-top: 10vh;
}

#caseTitle {
  margin-top: 5vh;
  text-align: left;
  font-weight: 400;
}

.title {
  margin-top: 10vh;
  text-align: center;
}

.imageContainer {
  text-align: center;
}

.underlinedLink {
  text-decoration: underline;
  text-decoration-color: #303030;
  color: #303030;
}

.portImg {
  width: 100%;
  margin-top: 20px;
}

.moreAboutContent div {
  margin-bottom: 5vh;
}

.artCite, .timelineSubtitle {
  color: #767676;
}

.instaCite {
  color: #303030;
}

.instaCite, .artCite {
  text-align: center;
  font-size: 14px;
}

div ul li {
  line-height: 3.5vh;
}

/* end of about stuff */

/* start of case story stuff oooooooooo */
/* images use .portImg */

/* for cover of case study */
.cover {
  padding-top: 7vh;
  margin-top: 3vh;
  z-index: -1;
}

#caseTitle h1 {
  padding: 0;
  margin: 0;
  padding-top: 100px;
  font-size: 48px;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
}
#caseTitle h2 {
  font-size: 24px;
  font-weight: 500;
}

/* context */
.context {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: space-between;
  grid-row-gap: auto;
}

.spaceBelow {
  margin-bottom: 20vh;
}

.halfSpaceBelow {
  margin-bottom: 2.5vh;
}

.noSpace {
  padding: 0;
  margin: 0;
}

.context div {
  margin-bottom: 3vh;
}
.context div h1 {
  margin-bottom: 1vh;
}

.context div p {
  margin-top: 0;
  line-height: 3.5vh;
  font-size: 14px;
}

/* .caseLink a {
  text-decoration: underline;
  text-decoration-color: #303030;
}  */

/* the list */
.context div ul {
  margin: 0;
  padding: 0;
  list-style-type: square;
  margin-left: 2vh;
}
.context div ul li {
  color: #303030;
  line-height: 3.5vh;
  font-size: 14px;
}
/* about/summary */
.context div h2 {
  margin-bottom: 1vh;
}

.context div h1, .context div h2 {
  font-size: 24px;
  font-weight: 400;
}

/* sections */
.sec {
  margin-bottom: 15vh;
}
.sec h2 {
  font-size: 14px;
  color: #767676;
  margin-bottom: 0;
  font-weight: 300;
}

.sec p {
  line-height: 3.5vh;
  font-size: 14px;
}

/* case study teleport list */
.telePoints {
  display: none;
  opacity: 0;
  position: absolute;
}
/* only in candy researcher case study */
.listRemove {
  padding: 0;
  list-style-type: square;
  margin-left: 2vh;
}
.listRemove li {
  color: #303030;
  line-height: 3.5vh;
  font-size: 14px;
}

/* end of case story stuff oooooooooooo */

p, h1, h2 {
  color: #303030;
} 

a {
  text-decoration: none;
}

.logo {
  margin-top: 0.7vh;
  margin-left: 1vh;
  /* change logo size */
  width: 5.5vh;
  position: fixed;
}

.navigation {
  z-index: 99;
  position: fixed;
  width: 95%;
  border: 1px solid #303030;
  height: 7vh;
  background: white;
}

.navBackground {
  z-index: 99;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: white;
  height: 8.5vh;
}

.desktopNav {
  display: none;
}

/* start */

/* hamburger */
.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: white;
  height: 7vh;
  width: 7vh;
  position: fixed;
  top: 8px; 
  right: 8px; 
  z-index: 2000;
  text-align: center; 
  cursor: pointer;
  border: 1px solid #303030;
}

.background {
  height: 7vh;
  width: 7vh;
  position: fixed;
  top: 8px; 
  right: 8px; 
  background-color: #FFFFFF;
  z-index: 1000;
  border: 1px solid #303030;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: square;
  margin-left: 25%;
  width: 100%;
  list-style: none;
}

.item {
  margin: 5vh;
  font-size: 24px;
}
  
.item a {
  color: #303030;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 5vh;
  height: 0.3vh;
  background-color: #303030;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.active {
  background: #FFFFFF;
  font-weight: 500;
}

/* nav ends */

.sec h1 {
  font-size: 24px;
  margin-top: 1vh;
  font-weight: 400;
}

.intro {
  margin: 1vh;
  margin-top: 15vh;
  margin-bottom: 8vh;
}

.descList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.mobileSelfDesc, .listAnywhere {
  font-size: 16px;
}

.desktopSelfDesc {
  display: none;
}

.tagline {
  font-size: 24px;
  line-height: 5vh;
  font-weight: 500;
}

/* case study card */
.card {
  border: 1px solid #303030;
  margin: 1vh;
  margin-bottom: 2vh;
  background-color: #FFFFFF;
  overflow: hidden;
}

.card img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.2s linear;
  display: block;
}

.card .imgContain {
  border-bottom: 1px solid #303030;
  overflow: hidden;
  width: 100%;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  background: white;
}

.quickFacts {
    color: #767676;
    font-size: 14px;
    margin-bottom: 0px;
}

.cardTitle {
    font-size: 16px;
    line-height: 3vh;
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: 400;
}

.cardDes {
    font-size: 14px;
    margin-top: 10px;
    line-height: 3vh;
}

.shrink, .bigShrink {
  transition: all .2s ease-in-out; 
}

/* footer stuff */
footer {
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  background-color: #FFFFFF;
  border-top: 1px solid #303030;
  text-align: center;
}

hr {
  display: none;
}

footer .footerContent div {
  background: #FFFFFF;
  border: 1px solid #303030;
  width: 9vh;
  height: 5vh;
  display: inline-block;
  text-align: center; 
  margin-left: 0.5vh;
  margin-top: 3vh;
}

footer .footerContent div p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 5vh;
  line-height: 5vh;
}

footer .footerContent div p a {
  text-decoration: none;
  color: #303030;
}

.contactMe, .bragFooter {
  font-size: 14px;
}

.contactMe a {
  color: #303030;
  text-decoration: underline;

}

.bragFooter {
  margin-top: 2vh;
  text-align: center;
  color: #767676;
}

.footerLogoContainer {
  display: none;
}

.projectFooter {
  height: 50%;
}

.allProjects h1 {
  text-align: center;
}

.otherProject h1, .allProjects h1 {
  padding-top: 5vh;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 5vh;
  font-family: "Lora", serif;
  font-weight: 400;
  font-style: italic;
}

#galleryTitle {
  text-align: left;
  margin-bottom: 10vh;
  padding-top: 10vh;
}

#galleryTitle h1, #galleryTitle p {
  max-width: 60%;
}

#galleryTitle p {
  line-height: 3.5vh;
}

#galleryTitle h1 {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

#moreMe h1 {
  max-width: 90%;
  text-align: left;
}

.title h1 {
  font-size: 40px;
  font-weight: 400;
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-family: "Lora", serif;
  font-weight: 500;
  font-style: italic;
}

.flipHorizontal {
  display: inline-block;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}

.otherProject a h1 img {
  opacity: 0%;
  position: absolute;
  width: 40%;
  z-index: -1;
  bottom: 1vh;
  left: 30%;
  transition: all 0.5s ease; 
  border: 1px solid #303030;
}
.otherProject h1 a {
  text-decoration-color: #303030;
  color: #303030;
}

.projectFooter .footerContent {
  margin-top: 6vh;
}

/* end of footer stuff */



/* Modal Gallery Images */

#myImg {
  cursor: pointer;
  transition: all .2s ease-in-out; 
  width: 100%;
}

.galleryColumn {
  float: left;
  width: 33%;
  margin-left: 0.1vh;
  margin-right: 0.1vh;
}

/* Clear floats after the columns */
.galleryRow:after {
  content: "";
  display: table;
  clear: both;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.teleTitle {
  font-size: 16px;
}

.mySlides {display: none;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  border: 1px solid #303030;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.currentPic {
    background-color: #303030;
}

.photoFade {
    animation: photoFade 0.4s ease-in forwards;
    overflow: none;
}

@keyframes photoFade {
    0%{transform:translate(8px, 0); opacity: 1;}
    100%{transform:translate(0px, 0); opacity: 1;}
}

.progressBar {
    display: inline-block;
    width: 100px;
    height: 12px;
    background: linear-gradient(#303030 0 0) 0/0% no-repeat#FFFFFF;
    animation:p1 5s infinite linear;
    border: 1px solid #303030;
}
@keyframes p1 {
    100% {background-size:100%}
}

/* Modal Gallery Images END */

@media screen and (max-width: 600px) {
  .galleryColumn {
    width: 100%;
  }
}

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: white;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: linear-gradient(to right, #0965E3, #57B7FD);
  width: 0%;
}


.GIFLayoutForApps {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.GIFLayoutForApps img {
  width: 60%;
  padding-bottom: 20px;
}

.GIFLayoutForApps div {
  flex: 1;
  max-width: 50%;
}