html {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Applies to the whole page */
body {
    overflow-x: hidden !important;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    z-index: -99;
    background-size: 100px 100px;
    background-image:
      linear-gradient(to right, rgb(250, 250, 250) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(250, 250, 250) 1px, transparent 1px);
}

/* automatic bold for text */
.bold {
  font-weight: 500;
}

/* about stuff */

.aboutPagesSpace, .aboutPagesSpaceBetween, .spaceTop {
  margin-top: 10vh;
}

.title {
  margin-top: 20vh;
  text-align: left;
  margin-bottom: 10vh;
}

.title h1 {
  font-size: 5vh;
}

.imageContainer {
  text-align: center;
}

.underlinedLink {
  text-decoration: underline;
  text-decoration-color: #196DFF;
}

.portImg {
  width: 100%;
}

.sectionThree img {
  margin-bottom: 4vh;
}

.sectionOne, .sectionTwo, .sectionThree, .sectionFour, .sectionFive, .moreAboutContent div {
  margin-bottom: 5vh;
}

.artCite {
  font-size: 1.5vh;
  color: #A9A9A9;
  text-align: center;
}

.instaCite {
  font-size: 2vh;
  color: #303030;
  text-align: center;
}

div ul li {
  font-size: 3vh;
  line-height: 4vh;
}

.musicList li {
  font-size: 2.5vh;
  line-height: 3.5vh;
}

/* end of about stuff */

/* start of case story stuff oooooooooo */
/* images use .portImg */

/* for cover of case study */
.cover {
  padding-top: 7vh;
  margin-top: 3vh;
  z-index: -1;
}

/* context */
.context {
  margin-bottom: 10vh;
}

.spaceBelow {
  margin-bottom: 5vh;
}

.halfSpaceBelow {
  margin-bottom: 2.5vh;
}

.noSpace {
  padding: 0;
  margin: 0;
}

.context div {
  margin-bottom: 3vh;
}
.context div h1 {
  font-size: 4vh;
  margin-bottom: 1vh;
}
.context div h2 {
  margin-bottom: 1vh;
}

.context div p {
  margin-top: 0;
  line-height: 3.5vh;
  font-size: 2vh;
}

.caseLink a {
  text-decoration: underline;
  text-decoration-color: #196DFF;
} 

/* the list */
.context div ul {
  margin: 0;
  padding: 0;
  list-style-type: square;
  margin-left: 2vh;
}
.context div ul li {
  font-size: 2vh;
  color: #303030;
  line-height: 3.5vh;
}
/* about/summary */
.context div h2 {
  font-size: 3vh;
}

/* sections */
.sec {
  margin-bottom: 5vh;
}

.sec h1 {
  margin-top: 1vh;
}
.sec h2 {
  font-size: 2vh;
  color: #A9A9A9;
  margin-bottom: 0;

}
.sec p {
  line-height: 3.5vh;
  font-size: 2vh;
}

/* case study teleport list */
.telePoints {
  display: none;
}

/* only in candy researcher case study */
.listRemove {
  padding: 0;
  list-style-type: square;
  margin-left: 2vh;
}
.listRemove li {
  color: #303030;
  line-height: 3.5vh;
  font-size: 2vh;
}

/* end of case story stuff oooooooooooo */

p, h1, h2 {
  color: #303030;
} 

a {
  text-decoration: none;
}

.logo {
  padding-top: 0.5vh;
  margin-left: 1vh;
  width: 3.5vh;
  position: fixed;
}

.navigation {
  z-index: 99;
  position: fixed;
  width: 95%;
  border: 1px solid #303030;
  height: 7vh;
  background: white;
}

.navBackground {
  z-index: 99;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background: white;
  height: 8.5vh;
}

.desktopNav {
  display: none;
}

/* start */

/* hamburger */
.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: white;
  height: 7vh;
  width: 7vh;
  position: fixed;
  top: 8px; 
  right: 8px; 
  z-index: 2000;
  text-align: center; 
  cursor: pointer;
  border: 1px solid #303030;
}

.background {
  height: 7vh;
  width: 7vh;
  position: fixed;
  top: 8px; 
  right: 8px; 
  background-color: #FFFFFF;
  z-index: 1000;
  border: 1px solid #303030;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style-type: square;
  margin-left: 25%;
  width: 100%;
}

.item {
  margin: 5vh;
  font-size: 36px;
}
  
.item a {
  color: #303030;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 5vh;
  height: 0.5vh;
  background-color: #196DFF;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.active {
  background: -webkit-linear-gradient(#00D1FF, #3300FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  /* pointer-events: none;
  cursor: default; */
}

.underlined {
  border-bottom: 10px solid #196DFF;
  padding-bottom: 2.3vh;
}

/* nav ends */

h1 {
  font-size: 3vh;
}

.intro {
  margin: 1vh;
  margin-top: 15vh;
  margin-bottom: 8vh;
}

.descList {
  margin: 0;
  padding: 0;
  margin-left: 2vh;
  list-style-type: square;
}

.mobileSelfDesc {
  font-size: 1.8vh;
}

.desktopSelfDesc {
  display: none;
  font-size: 1.8vh;
}

.textGrad {
  background: -webkit-linear-gradient(#00D1FF, #3300FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* case study card */
.card {
    border: 1px solid #303030;
    transition: 0.3s;
    margin: 1vh;
    margin-bottom: 2vh;
    background-color: #FFF;
}

.card img {
  width: 100%;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  background: white;
}

.quickFacts {
    color: #A9A9A9;
    font-size: 1.5vh;
    margin-bottom: 0px;
}

.cardTitle {
    font-weight: 900;
    font-size: 2.2vh;
    margin-top: 5px;
    margin-bottom: 0px;
}

.cardDes {
    font-size: 1.8vh;
    margin-top: 10px;
}

.shrink, .bigShrink {
  transition: all .2s ease-in-out; 
}

.musicList {
  padding-left: 0;
  margin-top: 5vh;
  margin-left: 3.5vh;
  list-style-type: square;
}

.darkRed {
  color: #B22222;
}

.darkGreen {
  color: #006600;
}

/* footer stuff */
footer {
  width: 100%;
  height: 20%;
  position: absolute;
  left: 0;
  background-color: #FFF;
  border-top: 1px solid #303030;
  text-align: center;
}

hr {
  display: none;
}

footer .footerContent div {
  background: #FFF;
  border: 1px solid #303030;
  width: 9vh;
  height: 5vh;
  display: inline-block;
  text-align: center; 
  margin-left: 0.5vh;
  margin-top: 3vh;
}

footer .footerContent div p {
  font-size: 2vh;
  margin: 0;
  padding: 0;
  margin-top: 1vh;
}

footer .footerContent div p a {
  text-decoration: none;
  color: #303030;
}

.contactMe {
  font-size: 2vh;
}

.contactMe a {
  background: -webkit-linear-gradient(#00D1FF, #3300FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;
  text-decoration-color: #196DFF;
  color:#303030; 
}

.bragFooter {
  margin-top: 2vh;
  text-align: center;
  font-size: 1.5vh;
  color: #A9A9A9;
}

.footerLogoContainer {
  display: none;
}

.projectFooter {
  height: 80%;
}

.otherProjects {
  border-bottom: 1px solid #303030;
}

.otherProjects h1 {
  padding-top: 2vh;
}

.footerImg {
  margin-top: 1vh;
  width: 95%;
}

.projectFooter .footerContent {
  margin-top: 6vh;
}

.footerImgSpace {
  padding-bottom: 4vh;
}

/* end of footer stuff */


/* css code for floating back to top button is written by Muhammad Asif */
/* https://codeconvey.com/floating-back-to-top-button-html/ */
#return-to-top {
  position: fixed;
  bottom: 16vh;
  right: 2vh;
  background: #FFFFFF;
  border: 1px solid #303030;
  width: 8vh;
  height: 8vh;
  display: block;
  text-decoration: none;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top b {
  background: -webkit-linear-gradient(#00D1FF, #3300FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 100%;
  margin: 0;
  position: relative;
  left: 2.5vh;
  top: 0.2vh;
  font-size: 5vh;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}



/* Modal Gallery Images */

#myImg {
  cursor: pointer;
  transition: all .2s ease-in-out; 
  width: 100%;
}

.galleryColumn {
  float: left;
  width: 33%;
  margin-left: 0.1vh;
  margin-right: 0.1vh;
}

/* Clear floats after the columns */
.galleryRow:after {
  content: "";
  display: table;
  clear: both;
}


.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 200;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: rgba(242, 242, 242, 0.9);
  /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #333333;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

/* Modal Gallery Images END */

@media screen and (max-width: 600px) {
  .galleryColumn {
    width: 100%;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
  }

  .intro {
    margin: 1vh;
    margin-top: 6vh;
    margin-bottom: 6vh;
  }

  .descList li {
    margin-top: -2vh;
    margin-bottom: -2vh;
  }

  /* get rid of mobile nav */
  .navigation, .navBackground {
    display: none;
  }

  /* container for large rectangle and the social buttons */
  .desktopNav {
    display: flex;
    height: 8vh;
    padding-top: 5vh;
    width: 100%;
  }

  /* the larger rectangle */
  .navTabs {
    height: 8vh;
    border: 1px solid #303030;
    background: white;
    width: 100%;
  }

  /* I grouped the social buttons together */
  .socialArea {
    display: flex;
    height: 8vh;
  }

  /* logo that is in the large rectangle */
  .desktopLogo {
    margin-top: 0.6vh;
    float: left;
  }

  /* logo size */
  .logo {
    position: relative;
    width: 3.5vh;
  }

  /* tabs in the large rectangle */
  nav a {
    float: right;
    text-decoration: none;
    display: inline-block;
    color: #303030;
    font-size: 2.5vh;
    padding-right: 2vh;
    padding-top: 2.2vh;
  }

  /* email social button */
  .emailBox {
    font-size: 3.5vh;
    border: 1px solid #303030;
    background: white;
    width: 8vh;
    height: 8vh;
    text-align: center; 
    position: relative;
    margin-left: 1vh;
  }

  .emailBox img {
    display: block;
    margin: 0 auto;
    width: 3.5vh;
    height: 3.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
  }

  /* linkedin social button */
  .linkedInBox {
    font-size: 3.5vh;
    border: 1px solid #303030;
    background: white;
    width: 8vh;
    height: 8vh;
    text-align: center; 
    position: relative;
    margin-left: 1vh;
  }

  .linkedInBox img {
    display: block;
    margin: 0 auto;
    width: 3.5vh;
    height: 3.5vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
  }

  /* making the two social buttons appear side by side in its social area container */
  .linkedInBox, .emailBox {
    display: inline-block;
  }
  .content {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .quickFacts {
    font-size: 1vh;
  }
  .cardTitle {
      font-size: 2vh;
  }
  .cardDes {
    font-size: 1.3vh;
  }

  /* about stuff */
  .aboutContent, .moreAboutContent {
    margin-left: 5vh;
    margin-right: 5vh;
  }

  /* heree */
  #why, #me, .nextSection {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 20px;
    vertical-align: middle;
  }

  .title {
    margin-top: 0;
    padding-top: 10vh;
    text-align: center;
    margin-bottom: 10vh;
  }

  .title h1 {
    font-size: 5vh;
  }

  .values {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  div ul li {
    font-size: 4.5vh;
    line-height: 6vh;
  }
  /* Case study stuff */
  .cover {
    padding-top: 10vh;
    margin-top: 0;
  }
  .context {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .projectFooter {
    height: 60%;
  }
  .instaGrid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  .button:hover icon:before {
    top: -1rem;
  }
  .button:hover icon::after {
    top: 1rem;
  }
  #return-to-top:hover {
    transform: scale(0.85); 
  }
  #myImg:hover {
    transform: scale(0.90); 
  }
  .shrink:hover { 
    transform: scale(0.95); 
  }
  
  .bigShrink:hover { 
    transform: scale(0.85); 
  }
  .close:hover {
    background: -webkit-linear-gradient(#00D1FF, #3300FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
  }
  .underlined {
    padding-bottom: 2.7vh;
  }
  
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
  .mobileSelfDesc {
    display: none;
  }
  .desktopSelfDesc {
    display: block;
  }

  /* footer stuff */
  hr {
    display: block;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: #ededed;
    opacity: 0.2;
  }

  .otherProjects {
    margin-left: 10%;
    margin-right: 10%;
    border-bottom: none;
  }

  .footerContent {
    margin-left: 10%;
    margin-right: 10%;
    text-align: right;
    /* margin-top: 10vh; */
  }
  .bragFooter {
    text-align: right; 
    margin-top: 2vh;
    font-size: 2vh;
  }

  .footerImg {
    margin-top: 1vh;
    width: 100%;
  }

  .contactMe {
    position: absolute;
    margin: 0;
    margin-left: 1vh;
    text-align: left;
  }
  .footerLogoContainer {
    display: block;
    position: absolute;
    margin-top: 3vh;
    text-align: left;
    margin-left: 10%;
  }
  .projectFooter .footerLogoContainer {
    margin-top: 11vh;
  }
  .projectFooter .footerContent {
    margin-top: 8vh;
  }
  .footerLogo {
    margin-left: 1vh;
    width: 3.5vh;
  }
/* end of footer stuff */

  label {
    display: none;
  }

  nav a {
    font-size: 3vh;
    padding-right: 3vh;
    padding-top: 3vh;
  }
  .linkedInBox, .emailBox {
    font-size: 5vh;
    width: 10vh;
  }
  .desktopNav, .navTabs, .socialArea, .linkedInBox, .emailBox {
    height: 10vh;
  }
  .logo {
    width: 4.5vh;
  }
  .quickFacts {
    font-size: 1.5vh;
  }
  .cardTitle {
      font-size: 2.2vh;
  }
  .cardDes {
      font-size: 1.8vh;
  }
  /* case study stuff */
  .caseContent {
    margin-left: 15vh;
  }

  /* case study teleport list */
  .telePoints {
    display: block;
    position: fixed;
    top: 40%;
  }
  .telePoints ul {
    padding: 0;
    margin: 0;
    margin-left: 1.7vh;
    list-style-type: square;
  }
  .telePoints ul a li {
    font-size: 1.4vh;
    line-height: 2.5vh;
    color: #A9A9A9;
  }
  .telePoints ul a {
    text-decoration: none;
  }
  .telePoints ul a li:hover {
    background: -webkit-linear-gradient(#00D1FF, #3300FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    margin-left: 15%;
    margin-right: 15%;
  }

  /* footer stuff */
  .footerContent {
    margin-left: 15%;
    margin-right: 15%;
  }
  .otherProjects {
    margin-left: 15%;
    margin-right: 15%;
  }
  .footerLogoContainer {
    margin-left: 15%;
  }
  /* end of footer stuff */

  /* case study stuff */
  .caseContent {
    margin-left: 20vh;
  }
  .telePoints ul a li {
    font-size: 1.7vh;
    line-height: 3vh;
    color: #A9A9A9;
  }
}

/* omg such big screens */
@media (min-width: 1980px) {
  .myName {
    font-size: 3vh;
  }
  body {
    margin-left: 20%;
    margin-right: 20%;
  }

  /* footer stuff */
  .footerContent {
    margin-left: 20%;
    margin-right: 20%;
  }
  .footerLogoContainer {
    margin-left: 20%;
  }
  /* end of footer stuff */

  h1 {
    font-size: 5vh;
  }
}