/* more or less universal */
* {
    box-sizing: border-box;
}

html, a {
    font-family: 'Montserrat', sans-serif, 'Times New Roman';
    color: #303030;
    text-decoration: none;
}

body {
    padding:0;
    margin:0;
}

a:hover {
    opacity: 50%;
    font-style: italic;
}

.bigDisplay {
    display: none;
}

.smallDisplay {
    display: inline-block;
}

/* css code and modified from https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/ (by W.S. Toh) */

nav > a > h1 {
    margin: 0;
    float: left;
    margin-left: 15px;
    font-family: 'Cookie', cursive;
    color: #42C0FB;
}

nav {
    text-align: right;
    padding-bottom: 15px;
    padding-top: 10px;
    width: 100%;
    background: white;
    position: sticky;
    top: 0;
    z-index: 99;
    border-bottom: 1px solid #ddd;
}

.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #42C0FB;
}

.navItems a {
    font-size: 20px;
    margin-right: 20px;
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: #303030;
    text-align: right;
}

nav label, #hamburger {
    display: none;
    cursor: pointer;
}

/* padding for title lines */
.firstImpression, .aBitAboutMyself {
    padding: 20px 0px 0px 15px;
}

.firstImpression {
    padding-right: 20px;
}

/* add spacing between title tagline */
.firstImpression > h2 {
    line-height: 30px;
}

/* changing text color to brand color */
mark {
    background-color: white;
    color: #42C0FB;
}

/* font size secret change of project first line h1/h2 & footer p tags */
.firstImpression > h2, footer > p {
    font-size: 20px;
}

.firstImpression > h1 {
    padding-top: 30px;
}

.firstImpression > h1 {
    font-size: 15px;
}

/* more about me page stuff */
.moreMeHead {
    line-height: 1.5em;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    padding-top: 100px;
}

.moreMeSection {
    padding-left: 20px;
    padding-right: 20px;
}

.moreMeSection > h1 {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.moreMeSection > h2 {
    padding: 20px;
    font-size: 20px;
}

.artCite {
    opacity: 50%;
    padding-bottom: 20px;
}

.moreMeSection > ul > li {
    font-size: 20px;
    line-height: 40px;
}

/* case study cards & my photo settings & more about me section headers & footer centering */
.caseStudySection, footer, .selfPhoto, .moreMeSection > h1, .moreMeSection > h2, .moreMeSection > h3, .shamelessPlug {
    text-align: center;
}

.caseStudy, .selfPhoto > img {
    width: 95%;
    margin-top: 10px;
}

/* about page: paragraphs */
.aboutParagraphs {
    padding-left: 15px;
    padding-right: 15px;
}

.aboutParagraphs > p, .values > p, .theQuestions > p, .moreMeSection > p {
    margin-bottom: 20px;
    line-height: 1.5;
}

/* about page: my values & title line of about page */
.values, .theQuestions {
    margin-top: 30px;
    padding: 20px;
}

.values > h1 {
    padding: 0;
}

.values > h1, .aBitAboutMyself {
    margin-bottom: 30px;
}

.aBitAboutMyself, .theQuestions > h1, .values > h1 {
    color: #42C0FB;
}

/* footer stuff */
footer {
    margin-top: 20px;
}

footer > a {
    padding: 20px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #42C0FB;
}

/* universal case study elements */

/* use if there is a warning */
.clarify {
    font-size: 12px;
    text-align: center;
    padding: 20px;
    background-color: #FBF8E5;
    border: 1px solid #F7EACF;
    color: #856D42;
}

/* controls all image sizes */
.imageSize {
    width: 100%;
}

/* context table should be at the top of every case study */
table {
    border-spacing: 40px;
    margin: 0 auto;
    border-collapse: collapse;
}

tr td:last-of-type {
    padding-left: 150px;
}

td {
    padding: 10px;
    font-size: 12px;
}

/* handles margins of all sections */
.caseSection, .promoteNext {
    margin: 20px;
    line-height: 1.5;
}

/* promotes next project */
.promoteNext {
    margin-bottom: 50px;
    text-align: center;
}

/* handles vertical spacing of elements */
.caseSection, .caseSection > ol > li, .wireframeScreens, .prototypeScreens {
    margin-top: 50px;
}

/* for captions */
.prototypeScreens > p {
    text-align: center;
    opacity: 50%;
    font-size: 12px;
}

/* specific to zoom case study */
.zoomHeaders {
    color: #448CF7;
}

/* specific to candy researcher case study */
.researcherHeaders {
    color: #E76773;
}

/* specific to dynamo case study */
.dynamoHeaders {
    color: #4F5FAA;
}

/* for small screens */
@media (min-width: 600px) {
    nav {
        text-align: right;
    }
    nav > a {
        font-size: 20px;
    }
    .firstImpression {
        padding-right: 40px;
    }
    .moreMeSection > ul > li {
        font-size: 30px;
        line-height: 45px;
    }
}

/* for medium screens */
@media (min-width: 768px) {
    html {
        margin-left: 20px;
        margin-right: 20px;
    }
    .bigDisplay {
        display: inline-block;
    }
    .smallDisplay {
        display: none;
    }
    .firstImpression > h2 {
        font-size: 30px;
        line-height: 50px;
    }
    .aboutParagraphs {
        width: 50%;
        float: left;
    }
    .aboutParagraphs > p {
        font-size: 16px;
    }
    .selfPhoto {
        width: 50%;
        float: left;
        margin-top: -70px;
        margin-bottom: 100px;
    }
    footer > a {
        font-size: 16px;
    }
    .moreMeSection > ul > li {
        font-size: 35px;
        line-height: 50px;
    }
    .moreMeHead {
        font-size: 40px;
        text-align: center;
        padding-top: 100px;
    }

    /* universal case study elements */
    .clarify {
        font-size: 16px;
    }
    td {
        padding: 15px;
        font-size: 16px;
    }
    .caseSection {
        line-height: 2;
    }
    .prototypeScreens > p {
        font-size: 16px;
    }
}

/* for large screens */
@media (min-width: 992px) {
    html {
        margin-left: 50px;
        margin-right: 50px;
    }
    .firstImpression {
        padding-left: 20px;
        padding-right: 40px;
    }
    .theQuestions, .values {
        margin-left: 100px;
        margin-right: 100px;
    }
    .aboutParagraphs > p {
        font-size: 20px;
    }

    /* css code for floating back to top button is written by Muhammad Asif */
    /* https://codeconvey.com/floating-back-to-top-button-html/ */
    #return-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background: #42C0FB;
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top i {
        color: white;
        margin: 0;
        position: relative;
        left: 10px;
        top: -10px;
        font-size: 50px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    #return-to-top:hover i {
        top: -15px;
    }
}

/* making the hamburger menu work on mobile. rip mobile first approach */
@media (max-width: 992px) {
    .navItems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-bottom: 1px solid #303030;
      text-decoration: none;
    }
    nav label { 
      display: inline-block; 
      color: #42C0FB;
      font-style: normal;
      font-size: 2em;
      padding: 10px;
    }
    nav input:checked ~ .navItems {
        display: block;
    }
    .navItems {
        display: none;
    }
    nav > a > h1 {
        margin-top: 15px;
    }
}

/* for even larger screens */
@media (min-width: 1200px) {
    html {
        margin-left: 150px;
        margin-right: 150px;
    }
    .firstImpression {
        padding-right: 0px;
    }
    .firstImpression > h1 {
        font-size: 20px;
    }
    .firstImpression > h2 {
        font-size: 35px;
        line-height: 60px;
    }

    /* universal case study elements */
    td {
        padding: 20px;
        font-size: 20px;
    }

    /* and more about me page too */
    .caseSection, .promoteNext, .moreMeSection {
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 50px;
    }
}

/* more bigger screens */
@media (min-width: 1600px) {
    html {
        margin-left: 250px;
        margin-right: 250px;
    }
}
@media (min-width: 1800px) {
    html {
        margin-left: 350px;
        margin-right: 350px;
    }
}
@media (min-width: 1920px) {
    html {
        margin-left: 450px;
        margin-right: 450px;
    }
}