/* for grid on whole site */
* {
    box-sizing: border-box;
}

/* font style/color for whole site */
html, a {
    font-family: 'Montserrat', sans-serif, 'Times New Roman';
    color: #303030;
    text-decoration: none;
}

/* nav positioning */
nav {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

/* nav links styling/spacing */
nav > a {
    margin-top: 20px;
    margin-right: 20px;
}

/* spacing in h1 headers on project and about pages */
.firstImpression, .aBitAboutMyself {
    padding: 20px 0px 0px 15px;
}

/* font size of first header line & footer text */
.firstImpression > h1, .theFooter > p {
    font-size: 20px;
}

/* font size of nav text */
nav > a {
    font-size: 15px;
}

/* footer content spacing */
.theFooter > a {
    padding: 20px;
}

/* space before footer */
footer {
    margin-top: 20px;
}

/* centers all case study buttons & footer content & photo */
.caseStudySection, footer, .selfPhoto {
    text-align: center;
}

/* changes sizing & spacing of case study buttons & my image */
.caseStudy, .selfPhoto > img {
    width: 95%;
    margin-top: 10px;
}

/* case study buttons and hyperlinks hover effect */
a:hover {
    opacity: 50%;
    font-style: italic;
}

/* projects/about navigation active link */
.active {
    text-decoration: underline;
    text-underline-offset: 10px;
}

/* button style */
button {
    background-color: white;
    border-color: #303030;
    color: #303030;
    padding: 20px 31% 20px 31%;
    font-size: 20px;
}

/* button on hover */
button:hover {
    color: white;
    border-color: white;
    background-color: #303030;
}

/* cancel a tag effect on button */
.resumeButton > a:hover {
    opacity: 100%;
}

/* about paragraph spacing */
.aboutParagraphs {
    padding-left: 15px;
    padding-right: 15px;
}

/* about paragraphs & value paragraphs text spacing */
.aboutParagraphs > p, .values > p {
    margin-bottom: 20px;
    line-height: 1.5;
}

/* values div formatting */
.values {
    margin-top: 30px;
    padding: 20px;
}

/* spacing for about page headers */
.values > h1, .aBitAboutMyself {
    margin-bottom: 30px;
}

/* italic on values */
.values > h2 {
    font-style: italic;
}

/* for small screens */
@media (min-width: 600px) {
    nav > a {
        font-size: 20px;
    }
    nav {
        text-align: right;
    }
}

/* for medium screens */
@media (min-width: 768px) {
    html {
        margin-left: 20px;
        margin-right: 20px;
    }
    .aboutParagraphs {
        width: 50%;
        float: left;
    }
    .aboutParagraphs > p {
        font-size: 15px;
    }
    .selfPhoto {
        width: 50%;
        float: left;
        margin-top: -70px;
        margin-bottom: 100px;
    }
}

/* for larger screens */
@media (min-width: 992px) {
    .aboutParagraphs > p {
        font-size: 18px;
    }
    html {
        margin-left: 50px;
        margin-right: 50px;
    }
    .firstImpression {
        padding-left: 20px;
    }
    .theFooter > p, .theFooter > a {
        font-size: 20px;
    }
    .resumeButton {
        width: 50%;
        float: right;
    }
    button {
        padding: 20px 20px 20px 20px;
    }
}

/* for even larger screens */
@media (min-width: 1200px) {
    html {
        margin-left: 150px;
        margin-right: 150px;
    }
    .firstImpression > h1 {
        font-size: 30px;
    }
    .firstImpression > h2 {
        font-size: 40px;
    }
}